.home-chat{
    display: flex;
    margin: 0;
}

.home-chat-header{
    font-size: 50px;
}

.home-chat-image {
    position: relative;
    width: 550px;
    height: 350px;
}

.home-chat-image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.home-chat-box {
    position: absolute;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 20px;
    margin-bottom: -80px;
    right: 20px;
    text-align: justify;
}

.home-chat-btn{
    margin-top: 100px;
}

.home-btn-text{
    background-color: var(--primary-color-2);
    padding: 10px;
    color: var(--white-color);
    font-weight: 600;
    opacity: 0.6;
    min-width: 98px;
}

.home-btn-text:hover{
    opacity: 1;
}


.media-icons{
    margin-top: 30px;
    
}
.media-icons a {
    color: #fff;
    font-size: 2em;
    /* margin: 60px; */
}

.home_message{
    overflow: scroll;
    border-left: 2px solid #b6b6c2;

}
