/* Tai khoan khi đăng nhập */
.user {
    max-height: 100vh;
    position: sticky;
}

.header-img {
    width: 200px;
}

.header-btn {
    height: 40px;
    text-align: center;
}

.user-new {
    z-index: 1;
    position: sticky;
    top: 1px;
    left: 0;
    padding: 10px 0;
    border: 2px solid #111222;
    border-radius: 10px;
    text-align: center;
    margin-right: 8px;
}

.user-new a {
    color: var(--primary-color-2);
    
}

.user-new a span{
    all:unset;
    border: none;
}


.user-list-menu {
    height: 100vh;
    width: 20%;
    background: #090d17;
    border-right: 2px solid #111222;
    border-top-right-radius: 10px;
    padding: 8px 0 8px 8px;
}


.user-menu-topic {
    position: sticky;
    height: 78vh;
    padding: 10px 0;
}

.topic-list-title {
    color: #545456;
    font-size: 14px;
    padding-left: 8px;
    font-weight: 600;

}

.topic-list-item{
    padding: 10px 0 10px 8px;
    display: flex;
    justify-content: space-between;

}

.topic-list-item:hover .rename-topic
.topic-list-item:hover .delete-topic{
    display: inline-block;
    color: red;
}

.topic-list-item a {
    text-decoration: none;
    color: white;
}

.topic-item-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 180px;

}

.topic-item-name span{
    margin-left: 8px;

}

.topic-list-item:hover,
.user-account-info:hover {
    background-color: #3d3d3e;
    border-radius: 5px;
}

.topic-item-icon{
    display: block;
    width: 100%;
}

.topic-item-icon button {
    all: unset;
    padding-left: 8px;
}

.user-account{
    border-top: 1px solid #111222;
    top: 0;
    position: sticky;
    overflow: hidden;
    z-index: 1;
    padding-top: 8px;
}

.user-account a{
    text-decoration: none;
}

.user-account-title{
    color: #545456;
    font-size: 15px;

}

.user-account-header{
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
}

.user-account-info{
    padding-left: 8px;
}

.account-btn {
    background: none;
    margin-top: 16px;
    border: none;
    padding: 8px 0;
    outline: none;
}

.user-logout{
    font-weight: 600;

}

.user-logout a{
    color: #545456;
}

.account-btn:focus,
.chatPDF-message-btn:focus {
    outline: none;
}

.user-account-box-img {
    font-weight: 600;
    color: white;
}

.user-account-box-img span {
    padding: 8px;
    background-color: var(--primary-color-2);
    border-radius: 5px;
}

.account-btn {
    padding: 8px 0;
}

.user-account-name {
    font-size: 13px;
    margin-left: 8px;
    color: white;
    font-weight: 600;
}

.user-chatPDF {
    width: 80%;
    position: relative;

}

.background-image {
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 400px;
    height: 400px;
    top: -70%;
    left: 30%;
    object-fit: scale-down;
    opacity: 0.1;
}

.user-chatPDF-conversation {
    position: sticky;
    height: 80vh;
    margin-top: 32px;
}

.scroll {
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 15px;
    height: 20px;
}

.user-chat,
.chat-chat {
    padding: 16px 150px;
}

.user-chat{
    display: flex;
    justify-content: flex-end;
}

.chat-chat{
    display: flex;
}
.chat-tk span {
    color: var(--primary-color-2);
    font-weight: 600;
    padding: 7px 8px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  5px 5px 1px #868686,
                -5px -5px 1px #ffffff;
}

.chat-AI span {
    color: var(--primary-color);
    padding: 7px 9px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  5px 5px 1px #868686,
                -5px -5px 1px #ffffff;
}

.chat-AI span img{
    width: 19px; 
    height: 19px; 
    text-align: center; 
    margin-top: -5px;
}

.chat-item {
    text-align: justify;
    color: white;
    position: relative;
    
}

.chat-item-message{
    background-color: var(--primary-color);
    color: white;
    padding: 5px 8px;
    box-shadow: inset 1px 2px 5px rgb(2, 7, 51);
    transition: 300ms ease-in-out;
    border: none;
    outline: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 630px;
    margin-right: 16px;

}

.chat-item-messageAI{
    background-color: #303030;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 8px;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    border: none;
    outline: none;
    line-height: 30px;
    margin-left: 16px;
    margin-bottom: 0;
    margin-right: 10px;
    max-width: 630px;
}

.chat-item-icon{
    font-size: 25px;
}

.chatPDF-message {
    border: 2px solid var(--primary-color) !important;
    margin: 32px 150px;
    bottom: 32px;
    border-radius: 25px;
    cursor: text;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid #545456;
    padding: 0 16px;
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.3);

}

.chatPDF-message textarea {
    width: 100% !important;
    all: unset;
    padding: 6px 0;
    margin-right: 8px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chatPDF-message-btn {
    all: unset;
    color: #757575;
}

.chat-feelback:hover{
    color: var(--primary-color-2);

}

/* Tài khoản khi không đăng nhập */

.notaccount {
    background: #090d17;
    border-right: 2px solid #111222;
    padding: 16px;
    bottom: 0;
    float: inline-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
}

.notaccount h4 {
    color: var(--primary-color-2);
    margin: 24px 0;
}

.notaccount-list li {
    padding: 10px 0;
    color: #757575;
}

.notaccount-list li:hover {
    color: white;
}

.highlighted {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s; */
    background-color: #3d3d3e;
}

.item {
    padding: 10px 0px 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.item:hover {
    background-color: #3d3d3e;
    border-radius: 5px;
}

.controls {
    display: none;
}

.item.active {
    background-color: #3d3d3e;
    border-radius: 5px;
}

.item.active .controls {
    display: block;
}

.edit-input {
    display: none;
    width: 62%;
    margin-right: 3%;
}

.edit-input.active {
    display: block;
}

.title{
    width: 62%;
    margin-right: 3%;
}

.mes{
    margin-right: 10px;
}
.edit-button,
.delete-button,
.save-button,
.cancel-button
{
    background-color: transparent;
    border: none;
}
.edit-button,
.save-button{
    margin-right: 2px;
}
/* feelback */
.user-feelback{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: absolute;
    height: 100vh;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.box-feelback{
    width: 50%;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;  
    animation: feelback ease-in 1s; 
}

@keyframes feelback{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.feelback-thumbs{
    display: flex;
    align-items: center;
    padding: 24px 16px;
}

.feelback-thumbs-icon{
    position: relative;
    font-size: 25px;
    color: var(--primary-color-2);
    background-color: #e1a1a1;
    border-radius: 50%;
    padding: 8px;
    margin-right: 12px;
    z-index: 3;

}

.feelback-thumbs span{
    font-weight: 600;
    color: var(--primary-color);
    font-size: 20px;
}

.feelback-text{
    padding: 0 16px 24px 16px;
}

.feelback-textarea{
    width: 100%;
    border-radius: 10px;
    padding: 8px 16px;
    border: 1px solid #bbb6b6;
    outline: none;

}

.feelback-btn{
    all: unset;
    padding: 8px;
    display: flex;
    float: right;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    margin-right: 16px;
    margin-bottom: 24px;
}

.feelback-btn:focus{
    outline: none;
}

.feelback-btn:hover{
    background-color: var(--primary-color-2);
}

.feelback-close{
    font-size: 20px; 
    float: right;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary-color);
    padding: 0 8px;
    cursor: pointer;
}

.feelback-close:hover{
    color: var(--white-color);
    background: var(--primary-color-2);
    border-radius: 5px;
}


