{% extends 'base.html'%} {% block content %}

<div class="d-flex user">
  <div class="text-white user-list-menu">
    <div class="user-new">
      <a href="" id="addTopicButton">
        <i class="fas fa-plus"></i>
        <span>New Chat</span>
      </a>
    </div>

    <div class="user-menu-topic scroll">
      {% for topic in user.topics|reverse %}
      <div class="user-topic">
        <ul>
          <li class="relative z-[15] item" data-topic-id="{{ topic.id }}">
            <i class="fa-regular fa-message mes"></i>
            <div class="title">{{ topic.title }}</div>
            <input type="text" class="edit-input" value="{{topic.title}}">
            <div class="controls">
              <button class="text-white edit-button">
                <i class="fas fa-pen-to-square"></i>
              </button>
              <button class="text-white delete-button">
                <i class="fas fa-trash"></i>
              </button>
              <button class="text-white save-button">
                <i class="fa-solid fa-check"></i>
              </button>
              <button class="text-white cancel-button">
                <i class="fa-solid fa-x" style="font-size: 14px;"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
      {% endfor %}
    </div>

    <div class="user-account-container">
      <div class="user-account">
        <div class="user-account-header">
          <span class="user-account-title">
            <i class="fas fa-user"></i>
            Tài khoản người dùng
          </span>
          <div class="user-logout">
            <a href="{{url_for('home')}}">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </div>
        </div>

        <div class="user-account-info">
          <button type="button" class="d-flex w-full items-center account-btn">
            <div class="user-account-box-img">
              <span>{{new_name}}</span>
            </div>
            <div class="user-account-name">{{user.email}}</div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="user-chatPDF">
    <div class="user-chatPDF-conversation scroll" id="scrollable-content">
      {% for conversation in topic.conversations %}
      <div class="user-chat">
        <div class="chat-item">
          <p class="chat-item-message">{{ conversation.user_chat }}</p>
        </div>
        <div class="chat-tk chat-tk-radius">
          <span class="username">{{new_name}}</span>
        </div>
      </div>
      <div class="chat-chat">
        <div class="chat-AI">
          <span>
            <img src="{{url_for('static', filename='images/artificial-intelligence.png')}}" />
          </span>
        </div>
        <div class="chat-item" style="display: flex;">
          <p class="chat-item-messageAI">{{ conversation.bot_chat }}</p>
          <span class="chat-feelback" data-conversation-id="{{conversation.id}}">
            <i class="fa-solid fa-comment-dots"></i>
          </span>
          <span class="chat-volume" data-conversation="{{conversation.bot_chat}}">
            <span class="volume volumeOff">
              <i class="fa-solid fa-volume-xmark"></i>
            </span>
            <span class="volume volumeOn" style="display: none;">
              <i class="fa-solid fa-volume-high"></i>
            </span>
          </span>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="background-image"></div>
    <div class="chatPDF-message">
      <textarea id="messageInput" rows="1" placeholder="Send a message" class=""></textarea>
      <button class="chatPDF-message-btn" id="sendMessageButton">
        <i class="fas fa-play"></i>
      </button>
    </div>
  </div>

  <div class="user-feelback">
    <div class="box-feelback">
      <button class="feelback-close">
        <i class="fas fa-times"></i>
      </button>
      <div class="feelback-thumbs">
        <i class="fa-regular fa-thumbs-down feelback-thumbs-icon"></i>
        <span>Cung cấp phản hồi của bạn nếu có thắc mắc</span>
      </div>
      <div class="feelback-text">
        <textarea rows="3" placeholder="Bạn hãy cung cấp phản hồi" class="feelback-textarea"></textarea>
      </div>
      <button class="feelback-btn">Phản hồi</button>
    </div>
  </div>
</div>

<script>
  const items = document.querySelectorAll(".item");
  // Kiểm tra xem đã có trạng thái được lưu trong localStorage chưa
  const selectedDivIndex = localStorage.getItem("selectedDivIndex");

  items.forEach((item, index) => {
    const title = item.querySelector(".title");
    const editInput = item.querySelector(".edit-input");
    const controls = item.querySelector(".controls");
    const editButton = item.querySelector(".edit-button");
    const deleteButton = item.querySelector(".delete-button");
    const saveButton = item.querySelector(".save-button");
    const cancelButton = item.querySelector(".cancel-button");

    // Hiển thị nút "Sửa" và ẩn nút "Lưu" và "Hủy" khi trạng thái không phải là "chỉnh sửa"
    function exitEditMode() {
      title.style.display = "block";
      editInput.style.display = "none";
      controls.classList.remove("edit-mode");
      editButton.style.display = "inline-block";
      deleteButton.style.display = "inline-block";
      saveButton.style.display = "none";
      cancelButton.style.display = "none";
    }

    // Hiển thị nút "Lưu" và "Hủy" và ẩn nút "Sửa" khi bắt đầu chỉnh sửa
    function enterEditMode() {
      title.style.display = "none";
      editInput.style.display = "block";
      controls.classList.add("edit-mode");
      editButton.style.display = "none";
      deleteButton.style.display = "none";
      saveButton.style.display = "inline-block";
      cancelButton.style.display = "inline-block";
      editInput.focus();
    }

    item.addEventListener("click", () => {
      items.forEach(i => i.classList.remove("active"));
      item.classList.add("active");
      // Lưu trạng thái của div đã chọn vào localStorage
      localStorage.setItem("selectedDivIndex", index);
      exitEditMode(); // Đảm bảo thoát khỏi chế độ chỉnh sửa khi chuyển div
      console.log('hha');
    });

    editButton.addEventListener("click", (event) => {
      event.stopPropagation(); // Ngăn chặn sự kiện click lan ra bên ngoài div
      enterEditMode();
    });

    editInput.addEventListener("click", (event) => {
      event.stopPropagation(); // Ngăn chặn sự kiện click lan ra bên ngoài div
      enterEditMode();
    });

    cancelButton.addEventListener("click", (event) => {
      event.stopPropagation(); // Ngăn chặn sự kiện click lan ra bên ngoài div
      editInput.value = title.textContent; // Lấy lại tiêu đề cũ
      exitEditMode();
    });

    saveButton.addEventListener("click", (event) => {
      event.stopPropagation(); // Ngăn chặn sự kiện click lan ra bên ngoài div
      title.textContent = editInput.value;
      var updatedTitle = title.textContent;
      var topic_id = item.getAttribute("data-topic-id");
      fetch("/rename_topic", {
        method: "POST",
        body: JSON.stringify({
          updatedTitle: updatedTitle,
          topic_id: topic_id,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      exitEditMode();
    });

    deleteButton.addEventListener("click", (event) => {
      event.stopPropagation(); // Ngăn chặn sự kiện click lan ra bên ngoài div
      if (confirm("Bạn có chắc muốn xóa topic này?")) {
        item.remove();
        var topic_id = item.getAttribute("data-topic-id");
        console.log(topic_id);
        fetch("/delete_topic", {
          method: "POST",
          body: JSON.stringify({ user: "{{user}}", topic_id: topic_id }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(res => res.json())
          .then((data) => {
            location.reload();
          });
      }
      
    });

    // Kiểm tra nếu div này đã được lựa chọn trước đó, thì mặc định nó là được chọn khi trang tải lại
    if (index.toString() === selectedDivIndex) {
      item.click();
      const urlParams = new URLSearchParams(window.location.search);
      const newTopic = item.getAttribute("data-topic-id");
      urlParams.set("topic", newTopic);
      history.replaceState(null, null, `?${urlParams.toString()}`);
    }
  });
</script>

<!-- Click topic -->
<script>
  // click topic
  const topicDivs = document.querySelectorAll(".item");
  topicDivs.forEach(function (topicDiv) {
    topicDiv.addEventListener("click", function () {
      const topicId = topicDiv.getAttribute("data-topic-id");
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set("topic", topicId);
      history.replaceState(null, null, `?${urlParams.toString()}`);
      location.reload();
    });
  });
</script>

<!-- Add topic -->
<script>
  // add topic
  document
    .getElementById("addTopicButton")
    .addEventListener("click", function () {
      var user_id = "{{user.id}}";
      fetch("/add_topic", {
        method: "POST",
        body: JSON.stringify({ user_id: user_id }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json()) // Chuyển đổi phản hồi sang định dạng JSON
        .then((data) => {
          // Sử dụng giá trị đã trả về, ví dụ: new_topic_id
          const newTopicId = data.error;
          // Tiếp tục xử lý hoặc hiển thị giá trị theo ý muốn
          console.log(`New topic ID: ${newTopicId}`);
        });
      const urlParams = new URLSearchParams(window.location.search);
      const newTopic = parseInt("{{user.topics[-1].id}}", 10) + 1;
      urlParams.set("topic", newTopic);
      items[0].click();
      history.replaceState(null, null, `?${urlParams.toString()}`);
    });
</script>

<script>
  const scrollableContent = document.getElementById("scrollable-content");
  function scrollBottom() {
    scrollableContent.scrollTop = scrollableContent.scrollHeight;
  }
  // gửi tin nhắn
  const messageInput = document.getElementById("messageInput");
  const sendMessageButton = document.getElementById("sendMessageButton");

  sendMessageButton.addEventListener("click", function () {
    const user_chat = messageInput.value;
    if (user_chat != "") {
      const bot_chat = "chat chat";
      const topic_id = "{{topic.id}}";

      messageInput.value = "";
      const userChatDiv = document.createElement("div");
      userChatDiv.className = "user-chat";
      userChatDiv.innerHTML = `
            <div class="chat-item">
                <p class="chat-item-message">
                    ${user_chat}
                </p>
            </div>
            <div class="chat-tk chat-tk-radius">
                <span class="username">{{ new_name }}</span>
            </div>
        `;
      const conversationContainer = document.querySelector(
        ".user-chatPDF-conversation"
      );
      conversationContainer.appendChild(userChatDiv);

      const chatChatDiv = document.createElement("div");
      chatChatDiv.className = "chat-chat";
      conversationContainer.appendChild(chatChatDiv);

      // Thêm phần loading ban đầu
      chatChatDiv.innerHTML = `
            <div class="chat-AI">
                <span>
                  <img src="{{url_for('static', filename='images/artificial-intelligence.png')}}"/>
                </span>
            </div>
            <div class="chat-item" style="display: flex; align-items: center;">
                <p class="chat-item-messageAI">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </p>
                <span class="chat-feelback" style="display: none">
                  <i class="fa-solid fa-comment-dots"></i>
                </span>
            </div>`;

      fetch("/add_conversation", {
        method: "POST",
        body: JSON.stringify({
          topic_id: topic_id,
          user_chat: user_chat,
          bot_chat: bot_chat,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((data) => {
          showResponse(data.bot_chat, chatChatDiv);
        });
    }
    scrollBottom();
  });

  function showResponse(response, chatChatDiv) {
    const words = response.split(" ");
    let index = 0;
    const chatItemMessageAI = chatChatDiv.querySelector(".chat-item .chat-item-messageAI");
    const feelbackButton = chatChatDiv.querySelector(".chat-item .chat-feelback");
    let displayingWords = true;

    function clickHandler() {
      console.log("Click event triggered");
      displayingWords = !displayingWords;
      if (!displayingWords) {
        chatItemMessageAI.innerHTML = response;
        scrollBottom();
        chatItemMessageAI.removeEventListener("click", clickHandler);

        // Hiển thị nút Feelback sau khi hiển thị toàn bộ câu trả lời
        feelbackButton.style.display = 'block';
      }
    }
    // Thêm sự kiện click
    chatItemMessageAI.addEventListener("click", clickHandler);

    function displayWord() {
      if (index === 0) {
        chatItemMessageAI.innerHTML = words[index];
      } else {
        chatItemMessageAI.innerHTML += " " + words[index];
      }
      index++;

      // Nếu đang hiển thị từng từ và chưa hiển thị hết từ, tiếp tục hiển thị từng từ
      if (index < words.length && displayingWords) {
        setTimeout(displayWord, 150);
      } else {
        // Nếu đã hiển thị hết từ, xóa sự kiện click và hiển thị toàn bộ
        chatItemMessageAI.removeEventListener("click", clickHandler);
        chatItemMessageAI.innerHTML = response;
        // Hiển thị nút Feelback sau khi hiển thị toàn bộ câu trả lời
        feelbackButton.style.display = 'block';
      }
      scrollBottom();
    }

    displayWord();
  }
  scrollBottom();
</script>

<script>

</script>

<script>
  const chatFeelbacks = document.querySelectorAll('.chat-feelback');
  const feelback = document.querySelector('.user-feelback');
  const feelbackBtn = document.querySelector('.feelback-btn');
  const feelbackTextarea = document.querySelector('.feelback-textarea');
  chatFeelbacks.forEach(function (chatFeelback) {
    const conversationIdFromAttribute = chatFeelback.getAttribute("data-conversation-id");
    console.log(conversationIdFromAttribute);
    chatFeelback.addEventListener('click', function () {
      feelback.style.display = 'flex';
      feelbackBtn.addEventListener('click', function () {
        const feedbackValue = feelbackTextarea.value;
        console.log("{{user.id}}");
        console.log(conversationIdFromAttribute);
        console.log(feedbackValue);
        fetch("/add_feedback", {
          method: "POST",
          body: JSON.stringify({ user_id: "{{user.id}}", conversation_id: conversationIdFromAttribute, message: feedbackValue }),
          headers: {
            "Content-Type": "application/json",
          },
        });
        feelback.style.display = 'none';
        // Thực hiện các hành động khác với giá trị phản hồi nếu cần
      });
    });
  });

  var closeIcon = document.querySelector('.feelback-close');
  closeIcon.addEventListener('click', function () {
    feelback.style.display = 'none';
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const volumeControls = document.querySelectorAll('.chat-volume');

    volumeControls.forEach(function (volumeControl) {
      const volumeOff = volumeControl.querySelector('.volumeOff');
      const volumeOn = volumeControl.querySelector('.volumeOn');
      // Bắt sự kiện click cho từng phần tử
      volumeControl.addEventListener('click', function () {
        conversation = volumeControl.getAttribute("data-conversation");

        // Toggle giữa hiển thị và ẩn các icon
        if (volumeOff.style.display !== 'none') {
          volumeOff.style.display = 'none';
          volumeOn.style.display = 'block';
          // Thực hiện các công việc khi âm thanh được bật
          console.log('Volume is ON');
          fetch("/out_voice", {
            method: "POST",
            body: JSON.stringify({
               conversation: conversation
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })

          // Thực hiện các công việc khi âm thanh được tắt
        } else {
          volumeOff.style.display = 'block';
          volumeOn.style.display = 'none';
          console.log('Volume is OFF');
        }
      });
    });
  });
</script>

{% endblock %}