{% extends 'base.html'%} {% block content %}

<div class="d-flex user">
  <div class="text-white user-list-menu">
    <div class="user-new">
      <a href="" id="addTopicButton">
        <i class="fas fa-plus"></i>
        <span>New Chat</span>
      </a>
    </div>

    <div class="user-menu-topic scroll">
      {% for topic in user.topics|reverse %}
      <div class="user-topic">
        <div class="relative topic-list">
          <div class="sticky top-0 z-[16]">
            <h4 class="topic-list-title"></h4>
          </div>
          <ul>
            <li
              class="relative z-[15] topic-list-item topic"
              data-topic-id="{{ topic.id }}"
            >
              <a href="">
                <div class="topic-item-name">
                  <i class="fa-regular fa-message"></i>
                  <span class="title" id="title">{{ topic.title }}</span>
                </div>
              </a>
              <div class="topic-item-icon">
                <button class="text-white rename-topic" style="display: none">
                  <i class="fas fa-pen-to-square"></i>
                </button>
                <button class="text-white delete-topic" style="display: none">
                  <i class="fas fa-trash"></i>
                </button>
                <button class="text-white update-topic" style="display: none">
                  <i class="fa-solid fa-check"></i>
                </button>
                <button class="text-white undo-topic" style="display: none">
                  <i class="fa-solid fa-x"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="user-account-container">
      <div class="user-account">
        <div class="user-account-header">
          <span class="user-account-title">
            <i class="fas fa-user"></i>
            Tài khoản người dùng
          </span>
          <div class="user-logout">
            <a href="{{url_for('home')}}">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </div>
        </div>

        <div class="user-account-info">
          <button type="button" class="d-flex w-full items-center account-btn">
            <div class="user-account-box-img">
              <span>{{new_name}}</span>
            </div>
            <div class="user-account-name">{{user.email}}</div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="user-chatPDF">
    <div class="user-chatPDF-conversation scroll" id="scrollable-content">
      {% for conversation in topic.conversations %}

      <div class="user-chat">
        <div class="chat-tk chat-tk-radius" style="display: flex; justify-content: flex-end">
          <span class="username">{{new_name}}</span>
        </div>
        <div class="chat-item chat-item-right"> 
          <p class="chat-item-message">
            {{ conversation.user_chat }}         
          </p>       
        </div>
      </div>

      <div class="chat-chat">
        <div class="chat-AI ">
          <span>
            <i class="fas fa-comment"></i>
          </span>
        </div>
        <div class="chat-item chat-item-left">
          <p class="chat-item-messageAI">
            {{ conversation.bot_chat }}
          </p>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="background-image"></div>
    <div class="chatPDF-message">
      <textarea
        id="messageInput"
        rows="1"
        placeholder="Send a message"
        class=""
      ></textarea>
      <button class="chatPDF-message-btn" id="sendMessageButton">
        <i class="fas fa-play"></i>
      </button>
    </div>
  </div>
</div>
<script>
  // click topic
  const topicDivs = document.querySelectorAll(".topic");
  topicDivs.forEach(function (topicDiv) {
    topicDiv.addEventListener("click", function () {
      const topicId = topicDiv.getAttribute("data-topic-id");
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set("topic", topicId);
      history.replaceState(null, null, `?${urlParams.toString()}`);
    });
  });
</script>
<script>
  // add topic
  document
    .getElementById("addTopicButton")
    .addEventListener("click", function () {
      var user_id = "{{user.id}}";
      fetch("/add_topic", {
        method: "POST",
        body: JSON.stringify({ user_id: user_id }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json()) // Chuyển đổi phản hồi sang định dạng JSON
        .then((data) => {
          // Sử dụng giá trị đã trả về, ví dụ: new_topic_id
          const newTopicId = data.error;

          // Tiếp tục xử lý hoặc hiển thị giá trị theo ý muốn
          console.log(`New topic ID: ${newTopicId}`);
        });
      const urlParams = new URLSearchParams(window.location.search);
      const newTopic = parseInt("{{user.topics[-1].id}}", 10) + 1;
      urlParams.set("topic", newTopic);
      history.replaceState(null, null, `?${urlParams.toString()}`);
    });
</script>

<script>
  var userTopics = document.querySelectorAll(".user-topic");
  var selectedTopic = null; // Biến để theo dõi div đã được chọn
  var selectedRename = null;
  var selectedDelete = null;
  userTopics.forEach(function (userTopic) {
    var titleContainer = userTopic.querySelector(".topic-item-icon");
    var titleElement = userTopic.querySelector(".title");
    var renameButton = titleContainer.querySelector(".rename-topic");
    var deleteButton = titleContainer.querySelector(".delete-topic");
    var updateButton = titleContainer.querySelector(".update-topic");
    var undoButton = titleContainer.querySelector(".undo-topic");
    var topic = userTopic.querySelector(".topic");
    var topicElement = userTopic.querySelector(".topic-item-name");
    var text1 = titleElement.textContent;
    titleContainer.addEventListener("click", function () {
      renameButton.style.display = "inline-block";
      deleteButton.style.display = "inline-block";
      if (selectedTopic) {
        selectedTopic.style.backgroundColor = "black";
        selectedTopic.style.borderRadius = "5px";
        selectedRename.style.display = "none";
        selectedDelete.style.display = "none";
      }
      topic.style.backgroundColor = "#757575";
      selectedTopic = topic;
      selectedRename = renameButton;
      selectedDelete = deleteButton;
    });

    // Bắt sự kiện khi nhấp vào nút sửa
    renameButton.addEventListener("click", function () {
      titleElement.contentEditable = true;
      titleElement.focus();
      renameButton.style.display = "none";
      deleteButton.style.display = "none";
      updateButton.style.display = "inline-block";
      undoButton.style.display = "inline-block";
    });

    updateButton.addEventListener("click", function () {
      titleElement.contentEditable = false;
      renameButton.style.display = "inline-block";
      deleteButton.style.display = "inline-block";
      updateButton.style.display = "none";
      undoButton.style.display = "none";
      var updatedTitle = titleElement.textContent;
      var topic_id = userTopic
        .querySelector(".topic-list-item")
        .getAttribute("data-topic-id");
      fetch("/rename_topic", {
        method: "POST",
        body: JSON.stringify({
          updatedTitle: updatedTitle,
          topic_id: topic_id,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        // .then(response => response.json())  // Chuyển đổi phản hồi sang định dạng JSON
        .then((data) => {
          // Sử dụng giá trị đã trả về, ví dụ: new_topic_id
          const newTopicId = data.topic;

          // Tiếp tục xử lý hoặc hiển thị giá trị theo ý muốn
          console.log(data);
        });
    });

    undoButton.addEventListener("click", function () {
      titleElement.contentEditable = false;
      renameButton.style.display = "inline-block";
      deleteButton.style.display = "inline-block";
      updateButton.style.display = "none";
      undoButton.style.display = "none";
      titleElement.textContent = text1;
    });

    deleteButton.addEventListener("click", function () {
      if (confirm("Are you sure you want to delete this title?")) {
        // Sau đó, ẩn phần tử titleContainer
        userTopic.style.display = "none";
        var topic_id = userTopic
          .querySelector(".topic-list-item")
          .getAttribute("data-topic-id");
        fetch("/delete_topic", {
          method: "POST",
          body: JSON.stringify({ topic_id: topic_id }),
          headers: {
            "Content-Type": "application/json",
          },
        });
      }
    });
  });
</script>

<script>
  // gửi tin nhắn
  const messageInput = document.getElementById("messageInput");
  const sendMessageButton = document.getElementById("sendMessageButton");
  sendMessageButton.addEventListener("click", function () {
    const user_chat = messageInput.value;
    if (user_chat != ""){
      const bot_chat = "chat chat";
      const topic_id = "{{topic.id}}";

      messageInput.value = "";
      const userChatDiv = document.createElement("div");
      userChatDiv.className = "user-chat";
      userChatDiv.innerHTML = `
              <div class="chat-tk" style="display: flex; justify-content: flex-end;" id="scrollable-content">
                  <span class="username">{{ new_name }}</span>
              </div>
              <div class="chat-item chat-item-right">
                <p class="chat-item-message">
                  ${user_chat}
                <p>
              </div>
          `;
      const conversationContainer = document.querySelector(
        ".user-chatPDF-conversation"
      );
      conversationContainer.appendChild(userChatDiv);
      const chatChatDiv = document.createElement("div");
      chatChatDiv.className = "chat-chat";
      chatChatDiv.innerHTML = `
              <div class="chat-AI">
                  <span>
                      <i class="fas fa-comment"></i>
                  </span>
              </div>
              <div class="chat-item chat-item-left">
                <p class="chat-item-messageAI">
                  <i class="fa-solid fa-spinner fa-spin"></i>
                <p>
                </div>
      `;
      conversationContainer.appendChild(chatChatDiv); 
      fetch("/add_conversation", {
        method: "POST",
        body: JSON.stringify({
          topic_id: topic_id,
          user_chat: user_chat,
          bot_chat: bot_chat,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(res => res.json())
      .then((data) => {
      chatChatDiv.innerHTML = `
              <div class="chat-AI">
                  <span>
                      <i class="fas fa-comment"></i>
                  </span>
              </div>
              <div class="chat-item chat-item-left">
                <p class="chat-item-messageAI">
                  ${data.bot_chat}
                <p>
              </div>
          `;
        conversationContainer.appendChild(chatChatDiv);
       });
      }
  });
</script>

<script>
  var scrollableContent = document.getElementById("scrollable-content");
  scrollableContent.scrollTop = scrollableContent.scrollHeight;
</script>
{% endblock %}
