{% extends 'base.html' %}
{% block content%}
<div class="row container-login">
  <form method="POST" class="pt-3 pb-3 justify-content-center login-form">
    <a href="{{url_for('login')}}" class="login-close">
      <i class="fas fa-times"></i>
    </a>
    <div class="text-center">
      <img class="mb-4" style="width: 200px; height: auto;"
        src="https://ctsv.phenikaa-uni.edu.vn/assets/logo_phenikaa.fbe85f61.png" />
    </div>
    <h1 class="text-center h4">ĐĂNG KÝ TÀI KHOẢN</h1>
    <div class="form-group">
      <label for="username" class="pt-2">Tên đăng nhập</label>
      <input type="text" name="username" id="username" class="form-control" required />
      <label for="email" class="pt-4">Email</label>
      <input type="email" name="email" pattern=".+@st\.phenikaa-uni\.edu\.vn"
        placeholder="VD: 21010588@st.phenikaa-uni.edu.vn" id="" class="form-control" required />
      <label for="password" class="pt-4">Mật khẩu</label>
      <input type="password" name="password" id="" class="form-control" required />
      <label for="confirm_password" class="pt-4">Nhập lại mật khẩu</label>
      <input type="password" name="confirm_password" id="" class="form-control" required />
      <input type="submit" value="Đăng kí" class="btn btn-block mt-4 btn-primary" style="background-color: #31447A" />
    </div>
  </form>
</div>
{%endblock%}