{% extends 'base.html'%} {% block content %}

<div class="d-flex user">
  <div class="notaccount">
    <h4>Câu hỏi thường gặp</h4>
    <ul class="notaccount-list">
      <li>Có thể chat ngay bây giờ không?</li>
      <li>Tiêu chí tuyển sinh trong năm nay?</li>
      <li>Điều kiện nhập học của trường là gì?</li>
      <li>Những quy định của trường phenikaa là gì?</li>
    </ul>
    <a href="{{url_for('login')}}" class="btn home-btn-text">Đăng Nhập</a>
  </div>
  <div class="user-chatPDF">
    <div class="user-chatPDF-conversation scroll" id="scrollable-content">
      {% for conversation in conversations %}
      <div class="user-chat">
        <div class="chat-tk" style="display: flex; justify-content: flex-end;">
          <span class="username">
            <i class="fa-solid fa-user"></i>
          </span>
        </div>
        <div class="chat-item chat-item-right">
          <p class="chat-item-message">
            {{ conversation.user_chat }}
          </p>
        </div>
      </div>

      <div class="chat-chat">
        <div class="chat-AI">
          <span>
            <i class="fas fa-comment"></i>
          </span>
        </div>
        <div class="chat-item chat-item-left">
          <p class="chat-item-messageAI">
            {{ conversation.bot_chat }}
          </p>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="background-image">
    </div>
    <div class="chatPDF-message">
      <textarea id="messageInput" rows="1" placeholder="Send a message" class=""></textarea>
      <button class="chatPDF-message-btn" id="sendMessageButton">
        <i class="fas fa-play"></i>
      </button>
    </div>
  </div>
</div>

<script>
  var listItems = document.querySelectorAll('.notaccount-list li');
  var textarea = document.getElementById('messageInput');
  listItems.forEach(function (item) {
    item.addEventListener('click', function () {
      var itemText = item.textContent;
      textarea.value = itemText;
    });
  });
</script>
<script>
  // scroll
  const scrollableContent = document.getElementById("scrollable-content");
  function scrollBottom() {
    scrollableContent.scrollTop = scrollableContent.scrollHeight;
  }
  // Gửi tin nhắn
  const messageInput = document.getElementById('messageInput');
  const sendMessageButton = document.getElementById('sendMessageButton');
  const conversationContainer = document.querySelector('.user-chatPDF-conversation');

  sendMessageButton.addEventListener('click', function () {
    const user_chat = messageInput.value;
    if (user_chat != ""){
    const bot_chat = 'chat';
    messageInput.value = '';

    const userChatDiv = document.createElement('div');
    userChatDiv.className = 'user-chat';
    userChatDiv.innerHTML = `
        <div class="chat-tk" style="display: flex; justify-content: flex-end;" id="scrollable-content">
          <span class="username">
            <i class="fa-solid fa-user"></i>
            </span>
        </div>
        <div class="chat-item chat-item-right">
                <p class="chat-item-message">
                  ${user_chat}
                <p>
              </div>
      `;
    conversationContainer.appendChild(userChatDiv);

    const chatChatDiv = document.createElement('div');
    chatChatDiv.className = 'chat-chat';
    conversationContainer.appendChild(chatChatDiv);
    chatChatDiv.innerHTML = `
        <div class="chat-AI">
          <span>
            <i class="fas fa-comment"></i>
          </span>
        </div>
        
        <div class="chat-item chat-item-left">
                <p class="chat-item-messageAI">
                  <i class="fa-solid fa-spinner fa-spin"></i>
                <p>
        </div>
      `;

    fetch('/add_conversation', {
      method: 'POST',
      body: JSON.stringify({ user_chat: user_chat }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(res => res.json())
        .then((data) => {
            showResponse(data.bot_chat, chatChatDiv);
        });
    }
    scrollBottom();
  });

  function showResponse(response, chatChatDiv) {
    const words = response.split(" ");
    let index = 0;
    const chatItemMessageAI = chatChatDiv.querySelector(
      ".chat-item-left .chat-item-messageAI"
    );
    let displayingWords = true;

    function clickHandler() {
      console.log("Click event triggered");
      displayingWords = !displayingWords;
      if (!displayingWords) {
        chatItemMessageAI.innerHTML = response;
        scrollBottom();
        chatItemMessageAI.removeEventListener("click", clickHandler);
      }
    }
    // Thêm sự kiện click
    chatItemMessageAI.addEventListener("click", clickHandler);

    function displayWord() {
      if (index === 0) {
        chatItemMessageAI.innerHTML = words[index];
      } else {
        chatItemMessageAI.innerHTML += " " + words[index];
      }
      index++;

      // Nếu đang hiển thị từng từ và chưa hiển thị hết từ, tiếp tục hiển thị từng từ
      if (index < words.length && displayingWords) {
        setTimeout(displayWord, 150);
      } else {
        // Nếu đã hiển thị hết từ, xóa sự kiện click và hiển thị toàn bộ
        chatItemMessageAI.removeEventListener("click", clickHandler);
        chatItemMessageAI.innerHTML = response;
      }
      scrollBottom();
    }
    displayWord();
  }
  scrollBottom();
</script>
{% endblock %}